<div class="row">
  <div class="col-md-12"  id="aboutsection">
    <div class="page-header">
      <h2>About</h2>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>I'm a full stack Web Developer from Jersey City, NJ. I enjoy coding user-friendly web experiences, while learning as much as I can about the craft.</p>
          <p>I started my Web Development journey at Rutgers Coding Bootcamp, a 6 month bootcamp that has already taught me so much.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <img id="portfoliophoto" alt="Photo of Wolfgang Hall" src="http://i1377.photobucket.com/albums/ah54/WolfgangHall/IMG_6634_zpsnue3ywtz.jpg"> 
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>When I'm not building a website, I enjoy playing basketball and football(both types), reading science fiction novels, brushing up on my German, and geeking over comic book lore.</p>
          <p>I'll be attending Rutgers Coding Bootcamp until April 2016.</p>
        </div>
      </div>
    </div>
  </div>
</div>