<div class="row">
  <div class="col-md-12 col-sm-12" id="techsection">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Skills Learned</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">HTML5</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">jQuery</li>
            <li class="list-group-item">APIs</li>
            <li class="list-group-item">JSON</li>
            <li class="list-group-item">AJAX</li>
            <li class="list-group-item">Node.js</li>
            <li class="list-group-item">Express</li>
            <li class="list-group-item">MySQL</li>
            <li class="list-group-item">ORM</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">Topics Covered</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Database Theory</li>
            <li class="list-group-item">Agile Methodologies</li>
            <li class="list-group-item">Presentation Skills</li>
            <li class="list-group-item">Research Methods</li>
            <li class="list-group-item">System Administration</li>
            <li class="list-group-item">Quality Assurance Testing</li>
            <li class="list-group-item">Social Coding Best Practices</li>
            <li class="list-group-item">Computer Science</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>