<div >
  <div id="projects">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>Deal Finder</h3>
        <a href="https://limitless-springs-6779.herokuapp.com/"><img class="projectPhoto" src="http://i1377.photobucket.com/albums/ah54/WolfgangHall/Screen%20Shot%202016-02-27%20at%208.41.44%20PM_zpsifb0vrjt.png"></a>
        <div id="projectInfo">
          <p>An app used to find local deals designed with Materialize CSS. Created to practice API usage, group coding, git workflow and JSON parsing.</p>
          <p>Created using HTML5, CSS3, Sqoot API and jQuery.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>Janken (Rock, Paper, Scissors)</h3>
        <a href="https://evening-cliffs-8913.herokuapp.com/"><img class="projectPhoto" src="http://i1377.photobucket.com/albums/ah54/WolfgangHall/Screen%20Shot%202016-02-27%20at%208.25.02%20PM_zpslf9tuw1y.png"></a>
        <div id="projectInfo">
          <p>A rock paper scissors game designed with Bootstrap CSS. Created to practice traversing the DOM, mapping elements, and css animations.</p>
          <p>Created using HTML5, CSS3, CSS animations, and jQuery.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>Pokemon Clicker</h3>
        <a href="https://fast-crag-1900.herokuapp.com/"><img class="projectPhoto" src="http://i1377.photobucket.com/albums/ah54/WolfgangHall/pokemon%20screen_zpsjrapehuu.png"></a>
        <div id="projectInfo">
          <p>A fun pokemon clicking game designed with Bootstrap. Created to practice dom manipulation via jQuery and CSS.</p>
          <p>Created using HTML5, CSS3, and jQuery.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>Mock Travel Site</h3>
        <a href="https://stormy-brook-55205.herokuapp.com/"><img class="projectPhoto" src="http://i1377.photobucket.com/albums/ah54/WolfgangHall/travelscreen_zps2gppnnvx.png"></a>
        <div id="projectInfo">
          <p>A hard-coded, mock travel booking website created to practice jQuery.</p>
          <p>Created using HTML5, CSS3, and jQuery.</p>
        </div>
      </div>
    </div>
  </div>